* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  background-color: #1234e6;
}

.airship {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 80px;
  height: auto;
}

.logo {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding-top: 1.25em;
}

.contact__item {
  display: flex;
  align-items: center;
  margin: 0 0 1.25em;
}

.contact__item:last-child {
  margin: 0;
}

.contact__icon {
  width: 0.75em;
  height: 0.75em;
  margin-right: 0.625em;
}

.contact__link {
  font-size: 0.875em;
  font-weight: 700;
  font-style: italic;
}

.contact__link a {
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .airship {
    top: 60px;
    left: 60px;
    width: 90px;
  }
  .contact {
    flex-direction: row;
  }
  .contact__item {
    margin: 0 1.875em 0 0;
  }
}
